.header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba($color-primary-light, 0.9),
      rgba($color-primary-dark, 0.6)),
  url('https://www.bkdigital.co.uk/wp-content/uploads/2018/11/bg.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;
  
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
          only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
          only screen and (min-width: 125em) {
      background-image: linear-gradient(
          to top,
          rgba($color-primary-light, 0.9),
          rgba($color-primary-dark, 0.6)),
      url(../img/hero.jpg);
  }

  &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
  }

  &__logo {
      height: 7rem;
  }
  
  &__text-box {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h1 {
          color: white;
          font-size:5rem;
          font-weight: 400;
          text-transform: uppercase;
        
          span {
               font-size: 8rem;
               display: block;

               > span {
                   color: white;
                   display: none;

               }

               &.heading-primary--main {
                   color:white;
               }

               &.heading-primary--sub  {
                color: white;
                font-size: 4rem;
            }
          }
      }

  }

  &__brand {
    height: 20rem;
  }

  .px-row-polygon {
    background-color: #fff;
    clip-path: polygon(34% 82%,65% 54%,100% 84%,100% 100%,0 100%,12% 62%);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 200px;
  }

}

// @include position(absolute, 50% 0 0 50%);

 